*{
    margin:0;
    padding:0;
    font-family:"Poppins",sans-serif;
   
}html{
    scroll-behavior: smooth;
}
body{
    background: rgba(0, 0, 0, 0.716);
    color: white;
    scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    border-radius: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    background: linear-gradient(rgba(0,0,0,0.6),hsl(210, 77%, 59%));
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:fixed;
    top: 0;
    right: 20px;
}
.logo{
    width:18%;
    position: fixed ;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 30px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background:black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    position: absolute;
    top: 40%;
    font-size: 30px;
    left: 32%;
}
.header-text h1{
    font-size: 50px;
}
.f1{
    font-size: 61px;
    color: rgb(43, 232, 33);
    font-family:cursive;
    position: relative;
    animation: jump .7s infinite;
}
@keyframes jump {
    0%,100% {top:8px;}
    50% {top:-8px;}
}
.f{
    font-size: 100px;
    color: rgb(43, 232, 33);
    font-family:Dancing Script;
}
/*about me*/
#about{
    padding:80px 0;
    margin-bottom: -7%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 40%;
    margin-top: -7%;
}
.about-col-1 img{
    animation: am 5s infinite;
    border-radius: 100px;
}
@keyframes am {
    0%,100%{transform:scale(0.53);}
    50%{transform: scale(0.6);}
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 8%;
}
.sub-title1{
    font-size: 80px;
    font-weight: 600;
    color:rgb(243, 153, 27);
    font-family:Dancing Script;
}
.intro{
    font-size: 40px;
    font-family: Caveat;
}
/*projects*/
#pro{
    padding: 30px 0;
    margin-top: -8%;
    margin-bottom: 8%;
    margin-left: 2%;
    margin-right: 2%;
}
#pro a{
    color: rgb(20, 34, 223);
}
.sub-title{
    font-size: 80px;
    font-weight: 600;  
    color: rgb(243, 153, 27);
    font-family: Dancing Script;
    text-align: center;
}
.pro-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.pro-list div{
    background:rgba(0, 0, 0, 0.493);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.pro-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.pro-list div p{
    font-size: 18px;
}
.pro-list div h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}
.pro-list div a{
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.pro-list div:hover{
    background: #ee0873;
    transform: translateY(-10px);
}
/*achievements*/
#eve{
    padding: 50px 0;
    margin-left: 10%;
    margin-right: 10%;
}
.achieve-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.achieve{
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 10px;
}
.achieve img{
    width: 100%;
    display:flex;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),hsl(299, 81%, 52%));
    position: absolute;
    left: 0;
    bottom:21.5%;
    right: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: height 1s;
}
.layer p{
    font-family: Caveat;
    font-size: 38px;
    font-weight: 300;
}
.achieve:hover .layer{
    height: 100%;
}
#h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
}
#h4 span{
    font-size: 18px;
    color:aqua;
}
#h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
}
#h5 span{
    font-size: 18px;
    color:aqua;
}
/*contacts*/
#con p{
    font-size: 25px;
    margin-left: 37%;
}
#ci1{
    width: 4%;
    position: absolute;
    left: 38%;
}
#ci2{
    width: 3.5%;
    position: absolute;
    left: 43%;
}
.foot{
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
}
/*css for small screen*/
@media (max-width: 600px) {
    #header {
      width: 100%;
      height: 100vh;
      background-image: url(images/background.jpg);
      background-size:cover;
      background-position: center;
    }
    
    nav {
      padding-top: 2%;
      padding-bottom: 2%;
      right: 0;
    }
    
    .logo {
      width: 30%;
      position: fixed;
    }
    
    nav ul li {
      padding: 0px 10px;
    }
    
    nav ul li a {
      font-size: 10px;
    }
    .header-text {
      top: 30%;
      left: 5%;
      font-size: 18px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        margin-bottom: 30px;
      }
      
      .about-col-1 img {
        width: 100%;
      }
      
      .sub-title1 {
        font-size: 40px;
      }
      
      .intro {
        font-size: 25px;
        margin-left: 5%;
      }
      
      .pro-list div {
        padding: 20px;
        font-size: 12px;
      }
      
      .pro-list div h2 {
        font-size: 25px;
      }
      
      .achieve-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      
      .layer p {
        font-size: 25px;
      }
      #h4{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 700;
    }
    #h4 span{
        font-size: 15px;
        color:aqua;
    }
    #h5{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 700;
    }
    #h5 span{
        font-size: 15px;
        color:aqua;
    } 
      #con p {
        font-size: 16px;
        margin-left: 16%;
      }
      
      #ci1 {
        left: 15%;
        width: 10%;
      }
      
      #ci2 {
        left: 30%;
        width: 8%;
      }
      .foot{
        font-size: 10px;
      }
  }
  
